{% extends "base.html" %}

{% block page_title %}Все посты{% endblock page_title %}

{% block page_content %}
    <h1>Все посты</h1>

    {% comment %}
        Привет, меня зовут Мурад
    {% endcomment %}
    {# Отображение постов #}
    {% if posts %}
        {% for post in posts %}
            {% include 'blog/includes/post_container.html' %}
        {% endfor %}
    {% else %}
        <p>Постов ещё нет. Загляните позже!</p>
    {% endif %}

    {% include "blog/includes/pagination.html" %}
{% endblock page_content %}



