{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block page_title %}{{ post.title }}{% endblock page_title %}

{% block scripts %}
    <script src="{% static "blog/js/reactions.js" %}" type="module" defer></script>
    {% endblock scripts %}

    {% block page_content %}
    <a href="{% url 'blog:post_list' %}">&larr;Назад</a>

    <h1>Детали поста:</h1>
    <h2>ID поста: {{ post.id }}</h2>
    <h3>{{ post.title }}</h3>

    {% if request.user == post.author %}
        Статус: {{ post.get_status_display }}
    {% endif %}

    <p>Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></p>
    {% comment %} <p>Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.name }}</a></p> {% endcomment %}

    <p>Теги: 
        {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
        нет тегов
        {% endfor %}
    </p>

    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Картинка поста">
    {% endif %}

    <p>{{ post.text }}</p>
    <p>Дата создания поста: <span class="date-field">{{ post.created_at|date:"c" }}</span></p>
    <p>Дата последнего изменения поста: <span class="date-field">{{ post.updated_at|date:"c" }}</span></p>

    <div
        id="postReactions" 
        data-is-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"
        data-login-url="{% url 'users:login' %}"
    >
        <button
        id='likeBtn'
        class="btn btn-sm {% if is_liked %}btn-primary{% else %}btn-outline-primary{% endif %} {% if request.user == post.author %}disabled{% endif %} js-reaction-btn"
        data-url="{% url "blog:post_like" post.id %}"
        >
        <i class="bi bi-hand-thumbs-up{% if is_liked %}-fill{% endif %}"></i>
        <span id="likesCount">{{ likes_count }}</span>
        </button>

        <button
        id='dislikeBtn'
        class="btn btn-sm {% if is_disliked %}btn-danger{% else %}btn-outline-danger{% endif %} {% if request.user == post.author %}disabled{% endif %} js-reaction-btn"
        data-url="{% url "blog:post_dislike" post.id %}"
        >
        <i class="bi bi-hand-thumbs-down{% if is_disliked %}-fill{% endif %}"></i>
        <span id="dislikesCount">{{ dislikes_count }}</span>
        </button>
    </div>

    <p>
        Автор поста: <a href="{% url "users:profile" username=post.author.username %}">{{ post.author }}</a>
        {% bs_icon 'eye' %} {{ post.views }}
    </p>

    {% if request.user == post.author %}
        <a href="{% url 'blog:edit_post' post.id %}">Редактировать пост</a>
        <a href="{% url 'blog:remove_post' post.id %}">Удалить пост</a>
    {% endif %}
    {% endblock page_content %}