{% extends "layouts/base.html" %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block page_content %}
    <h1>{{ title }}</h1>

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div>
            {{ form.category.label_tag }}
            {{ form.category }}
            {{ form.category.errors }}
            {{ form.category.help_text }}
        </div>

        <div>
            {{ form.tags_input.label_tag }}
            {{ form.tags_input }}
            {{ form.tags_input.errors }}
        </div>

        <div>
            {{ form.text.label_tag }}
            {{ form.text }}
            {{ form.text.errors }}
        </div>

        <div>
            {{ form.image.label_tag }}
            {{ form.image }}
            {{ form.image.errors }}
        </div>

        <button type="submit">{{ submit_button_text }}</button>
    </form>
{% endblock page_content %}