{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}Все посты{% endblock page_title %}

{% block styles %}
<link rel="stylesheet" href="{% static "blog/css/includes/post_container.css" %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static "blog/js/pages/post_list.js" %}" type="module" defer></script>
{% endblock scripts %}

{% block page_content %}
<h1>Все посты</h1>

{% comment %}
Привет, меня зовут Мурад
{% endcomment %}
{# Отображение постов #}
{% if posts %}
<div
    id="postsContainer"
    class="container"
    data-initial-offset="{{ posts|length }}"
    data-has-more="{{ has_more_posts }}"
    data-batch-size="{{ posts_per_batch }}"
    data-load-more-url="{% url 'blog:load_more_posts' %}"
>
    {% for post in posts %}
        {% include 'blog/includes/post_container.html' %}
    {% endfor %}
</div>
{% else %}
<p>Постов ещё нет. Загляните позже!</p>
{% endif %}

{% if has_more_posts %}
<div id="loadingSpinner" class="text-center d-none">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
</div>
{% endif %}
{% endblock page_content %}



