{% extends 'base.html' %}
{% load static %}

{% block page_title %}Посты с тегом {{ tag.name }}{% endblock page_title %}

{% block styles %}
    <link rel="stylesheet" href="{% static "blog/css/includes/post_container.css" %}">
{% endblock styles %}

{% block page_content %}
    <a href="javascript:history.back()">&larr;Назад</a>
    <h1>Посты с тегом: #{{ tag.name }}</h1>
    
    {% if posts %}
        <div class="container">
            {% for post in posts %}
                {% include 'blog/includes/post_container.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>С этим тегом пока нет постов.</p>
    {% endif %}
{% endblock page_content %}