{% extends "users/layouts/profile_base.html" %}
{% load static %}

{% block page_title %}Избранные посты{% endblock page_title %}

{% block scripts %}
    <script src="{% static "blog/js/favorites.js" %}" type="module" defer></script>
{% endblock scripts %}

{% block profile_page_content %}
    <h1 class="text-center">Избранные посты</h1>

    <div class="container" data-page-type="favorite-posts">
        {% for post in posts %}
            {% include 'blog/includes/post_container.html' %}
        {% empty %}
            <p class="text-center">Пока нет избранных постов.</p>
        {% endfor %}

        {% include "blog/includes/pagination.html" %}
    </div>
{% endblock profile_page_content %}