{% extends "base.html" %}

{% block page_title %}{{ post.title }}{% endblock page_title %}

{% block page_content %}
    <a href="{% url 'post_list' %}">&larr;Назад</a>

    <h1>Детали поста:</h1>
    <h2>ID поста: {{ post.id }}</h2>
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    <p>{{ post.created_at|date:"d.m.Y H:i" }}</p>

    <a href="{% url 'edit_post' post.id %}">Редактировать пост</a>
    <form method="POST" action="{% url 'remove_post' post.id %}">
        {% csrf_token %}

        <button type="submit">Удалить пост</button>
    </form>
{% endblock page_content %}



